* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;

    @media screen and (max-width: 540px) {
        /*esta es el ancho maximo que se adapa a la resolucion de los mobiles*/
        font-size: 12px;
        /*Este es el tama침o de la fuente que se adapta a los dispositivos mobiles*/

    }
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    max-height: auto;
    width: 100%;
    background: linear-gradient(135deg, #06070c, #080a13, #0f1325, #232841);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    column-span: all;


}

label {
    color: #000000;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    border-radius: 3px;
}

textarea {
    margin-bottom: 20px;
    border-radius: 2px;
}

ul {
    list-style: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes lights {
    0% {
        color: hsl(230, 40%, 80%);
        text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
        color: hsl(230, 80%, 90%);
        text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
        color: hsl(230, 100%, 95%);
        text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 90%, 0.5),
            -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
            0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
        color: hsl(230, 80%, 90%);
        text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
        color: hsl(230, 40%, 80%);
        text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
}

/*Contenido Inicio*/
.contenedor {
    scrollbar-gutter: auto;
    width: 100%;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    align-items: center;
    justify-content: center;
    color: hsl(225, 100%, 98%);
}

.titulo {
    animation: lights 5s 750ms linear infinite;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}

.parrafo {
    font-size: 1.5rem;
    color: #cdd7df;
    text-align: center;
    font-weight: 400;
}

.imgperfil {
    padding: 0;
    width: 10vw;
    height: auto;
    border-radius: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dos {
    width: 100%;
    margin: 0;
    padding: 0;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.alinear {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Fin Contenido de Inicio*/



/*Contenido de Projectos*/
.contenedorProj {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    min-height: 80vh;
    max-height: fit-content;
    height: auto;
    padding-bottom: 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
    gap: 16px;

    .subtitulo {
        font-size: 1.2rem;
    }

    .parrafotexto {
        color: black;
        font-size: 1rem;
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.projects a {
    text-decoration: none;
    color: #fff;
}

.projects a .box:hover {
    transition: 1s;
    box-shadow: rgba(203, 212, 241, 0.925) 0px 0px 0.50em, rgba(145, 183, 255, 0.479) 0px 0.5em 1.5em;
}


.titulo1 {
    display: flex;
    justify-content: left;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    font-size: 3rem;
}

.box {
    min-height: auto;
    max-height: fit-content;
    height: auto;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    background: linear-gradient(315deg, #080a13 3%, #23253d 38%, #080a13 68%, #080a13 98%);
    box-shadow: rgba(67, 71, 85, 0.5) 0px 0px 0.25em, rgba(90, 124, 188, 0.151) 0px 0.25em 1em;
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    transition: 1s;
}

.box p, i {
    padding: 1rem;
}
/*Fin Contenido de Proyectos*/



/*Contenido Acerca de*/

.contenidoacerca {
    min-height: 100vh;
    max-height: fit-content;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}


.iconos {
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(150px,
                1fr));
    gap: 16px;
}

.icon {
    margin: 20px;
    background-color: white;
    height: auto;
    width: 50%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.textoh {
    color: #0e0e0e;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.aptitudes {
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    height: auto;
    width: auto;
}

.aptitudes ul {
    margin: auto;
    margin-top: 1rem;
}

.aptitudes li p {
    font-size: 1.5rem;
}

.aptitudes li i {
    font-size: 2rem;
}

.lista {
    display: grid;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    gap: 10px;
}

.item p {
    margin: 0;
    flex: 1;
    /* Ocupa todo el espacio disponible */
}

@media (max-width: 600px) {
    .item {
        flex-direction: row;
        /* Sigue horizontal en m칩viles */
    }
}


.progress {
    height: 20px;
    width: 100%;
    border: 1px solid #42ca5f;
    border-radius: 15px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}

.progress-bar {
    height: 100%;
    background: #42ca5f;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 15px;
}

/*Fin Contenido Acerca de*/


/*Contenido Contacto*/
.contacto {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: white;
    padding: 50px;
    border-radius: 3px;
    border: 1px solid #00000059;

}

.btnenviar {
    width: 80px;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #00000059;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.btnenviar:hover,
.btnenviar:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.btnenviar:hover {
    transform: translateY(-1px);
}

.btnenviar:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/*Fon Contenido Contato*/
.boton-descarga {
    padding: 10px;
    background-color: #303366;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.5s;
    z-index: 100;
}

.boton-descarga:hover {
    transition: 0.5s;
    background-color: white;
    color: #303366;
}

.descargacv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    padding-bottom: 5rem;
}





.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*Efecto Transparente, FADE-OUT A IMAGEN USANDO HOVER PARA APARECER Y DESAPARECER*/
.btna {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: 80px;
    height: auto;
    opacity: 0;
    animation-name: fade;
    animation-duration: 5s;
    border-radius: 100%;
    padding: 10px;
}

.btna:hover {
    opacity: 100%;
    animation-name: fade-out;
    animation-duration: 1s;
    animation-delay: 2s;
}

@keyframes fade-out {
    100% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    0% {
        opacity: 100%;
    }
}


@keyframes fade {
    100% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    0% {
        opacity: 100%;
    }
}

.botonVer {
    position: fixed;
    z-index: 100;
}

.botonVer details {
    position: fixed;
    left: 0;
    top: 0;
    text-align: left;
    padding: 1rem;
}

.botonVer summary {
    user-select: none;
}

.botonVer summary i {
    font-size: 2.5rem;
    transition: 0.5s;
}

.botonVer summary i:hover {
    transition: 0.5s;
    color: #ffffff;
}

.botonVer details li {
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.botonVer details li a {
    color: #a4b5c6;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;

}

.botonVer details li a:hover {
    color: #e6f3fa;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    font-size: 1.5rem;
}

.botonVer details[open] summary {
    border-bottom: 1px solid #a4b5c6;
}

/*Fin ANIMACION BTN FADE-OUT*/

.video-container {
    width: 100%;
    max-width: 800px;
    /* Limita el tama침o m치ximo del video */
    margin: 0 auto;
    /* Centra el contenedor */
    aspect-ratio: 16 / 9;
    /* Mantiene forma horizontal */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.video-responsivo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta el contenido sin deformar */
    position: absolute;
    top: 0;
    left: 0;
}



/*INICIO DE SECCION FOOTER*/
.footer {
    background: linear-gradient(to right, #06070c, #232841);
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(to right, #303366, #a4b5c6);
}

.footer-logo {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.footer-about {
    color: #a4b5c6;
    margin-bottom: 25px;
    line-height: 1.6;
}

.footer h5 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
}

.footer h5::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 30px;
    height: 2px;
    background: #3498db;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #a4b5c6;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.footer-links a:hover {
    color: #303366;
    transform: translateX(5px);
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icon {
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background: #0f1325;
    transform: translateY(-3px);
    color: #fff;
}

.footer-newsletter {
    position: relative;
    margin-top: 20px;
}

.footer-newsletter input {
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
    padding-right: 50px;
}

.footer-newsletter input::placeholder {
    color: #a4b5c6;
}



.newsletter-btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #303366;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.5s;
    cursor: pointer;
}

.newsletter-btn:hover {
    transition: 0.5s;
    background-color: white;
    color: #303366;
}

.footer-bottom {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: #a4b5c6;
}

.footer-bottom-links {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-bottom-links a {
    color: #a4b5c6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-bottom-links a:hover {
    color: #3498db;
}

@media (max-width: 768px) {
    .footer-section {
        margin-bottom: 40px;
    }
}

.container {
    margin: 5rem;
}


/**/




@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}


.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #0e0e0e59;
    border-right: 2px solid #5559a8;
    border-bottom: 2px solid #5559a8;
    position: fixed;
    top: 0;
    bottom: 0;
    height: fit-content;
    left: 0;
    width: 50px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    z-index: 1000;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #5559a8;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    text-align: center;

}

.main-menu .nav-icon {
    position: static;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    text-align: center;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #000000;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
    font-style: normal;
}